.label--board::before {
    display: inline-block;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-text);
    cursor: pointer;
    margin-right: 1.2rem;
}

.input:checked + .label--board::after {
    content: "";
    position: absolute;
    display: block;
    top: .6rem;
    left: .2rem;
    height: 1rem;
    width: 2rem;
    border: .5rem solid var(--color-very-dark-purple);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    cursor: pointer;
}

.input:focus + .label--board::before {
    border: .1rem solid var(--color-very-light-purple);
}
