.contacts__item--phone {
  position: relative;
}

.contacts__item--phone:before {
  position: absolute;
  content: "";
  background: url("../../img/phone.svg") no-repeat center/contain;
  width: 3.4rem;
  height: 2.5rem;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .contacts__item--phone:before {
    width: 2.2rem;
    height: 3rem;
    left: -17%;
    top: 50%;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .contacts__item--phone {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .contacts__item--phone::before {
    width: 4.4rem;
    height: 4.5rem;
    left: -20%;
    top: 50%;
  }
}

@media (max-width: 47.9375em) {
  .contacts__item--phone {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .contacts__item--phone::before {
    width: 3.4rem;
    height: 3.5rem;
    left: -21%;
    top: 45%;
  }
}
