.label--console::before {
  display: inline-block;
  content: "";
  width: 2.7rem;
  height: 2.7rem;
  background-color: var(--color-text);
  border-radius: 2.7rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.input:checked + .label--console::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-71%, -52%);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-very-dark-purple);
  cursor: pointer;
}

.input:focus + .label--console::before {
  border: .1rem solid var(--color-very-light-purple);
}
