.label--console::before {
  display: inline-block;
  content: "";
  width: 2.7rem;
  height: 2.7rem;
  background-color: var(--color-text);
  border-radius: 2.7rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.input:checked + .label--console::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-71%, -52%);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-very-dark-purple);
  cursor: pointer;
}

.input:focus + .label--console::before {
  border: .1rem solid var(--color-very-light-purple);
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .input:checked + .label--console::after {
    top: 50%;
    left: 5.2%;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .label--console {
    font-size: 4.4rem;
    line-height: 5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }

  .label--console:last-child {
    margin-bottom: 0;
  }

  .label--console::before {
    height: 8rem;
    width: 8rem;
    border-radius: 4rem;
    margin-right: 4rem;
  }

  .input:checked + .label--console::after {
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    top: 53%;
    left: 7.5%;
  }
}

@media (max-width: 47.9375em) {
  .label--console {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .label--console::before {
    width: 6rem;
    height: 6rem;
    margin-right: 4rem;
  }

  .label--console::before {
    border-radius: 50%;
  }

  .input:checked + .label--console::after {
    left: 6.7%;
    height: 3.5rem;
    width: 3.5rem;
  }
}
