.reviews__text {
  width: 680px;
  padding-top: 5.2rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .reviews__text {
    flex: 0 0 auto;
    width: 51.5rem;
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-top: 3.2rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .reviews__text {
    width: 78.6rem;
    font-size: 3.2rem;
    line-height: 4.4rem;
    padding-top: 6.2rem;
  }
}

@media (max-width: 47.9375em) {
  .reviews__text {
    width: 56rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-top: 0;
  }
}
