.reviews__title {
  margin-bottom: 4.6rem;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .reviews__title {
    margin-bottom: 2.6rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .reviews__title {
    margin-bottom: 6rem;
  }
}

@media (max-width: 47.9375em) {
  .reviews__title {
    margin-bottom: 2.6rem;
  }
}
