.about__content {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .about__content {
    width: 44.4rem;
    height: 21.7rem;
    gap: 4rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .about__content {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    place-self: center;
  }
}

@media (max-width: 47.9375em) {
  .about__content {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }
}
