.fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .fieldset > .fieldset:nth-of-type(3) .input {
    width: 25.4rem;
  }
}

@media (max-width: 47.9375em) {
  .fieldset {

  }
}
