.footer__link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .footer__link {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

@media (max-width: 47.9375em) {
  .footer__link {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
