.select {
  appearance: none;
  flex: 0 0 auto;
  width: 300px;
  height: 52px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.select:focus {
  outline: none;
  border: 2px solid #CD06FF;
}