.about__wrap {
  display: grid;
  grid-template-rows: 27.2rem 1fr;
  grid-template-columns: 60rem 50rem;
  justify-content: space-between;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .about__wrap {
    grid-template-columns: 42rem 44.4rem;
    grid-template-rows: 19.5rem 21.7rem;
    justify-content: space-between;
    row-gap: 3.7rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .about__wrap {
    grid-template-columns: 76.4rem 55.6rem;
    grid-template-rows: 76rem 36.8rem;
    row-gap: 7.2rem;
  }
}

@media (max-width: 47.9375em) {
  .about__wrap {
    grid-template-columns: 56rem;
    grid-template-rows: 25.4rem 56rem auto;
    row-gap: 3rem;
  }
}
