.halls__title {
  line-height: 1;
  margin-bottom: 5rem;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .halls__title {
    margin-bottom: 3.6rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .halls__title {
    margin-bottom: 7rem;
  }
}

@media (max-width: 47.9375em) {
  .halls__title {
    margin-bottom: 3rem;
  }
}
