.booking__label--halls {
  flex: 0 0 auto;
  justify-content: center;
  width: 250px;
  padding: 7px 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color .2s ease-in, color .2s ease-in;
  margin-bottom: 0;
}

.booking__input:checked + .booking__label--halls {
  background-color: black;
  color: #FFFFFF;
}
