.input--date {
    flex: 0 0 auto;
    width: 13.4rem;
    height: 5.2rem;
    padding: 0 2rem;
}

.input--date:last-child {
    margin-right: 0;
}

.input--date:focus {
    outline: none;
    border: .2rem solid var(--color-very-light-purple);
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .input--date {

  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .input--date {
    width: 26.8rem;
    height: 10.4rem;
  }
}

@media (max-width: 47.9375em) {
  .input--date {
    width: 26.8rem;
    height: 10.4rem;
  }
}
