.input--date {
    flex: 0 0 auto;
    width: 13.4rem;
    height: 5.2rem;
    padding: 0 2rem;
}

.input--date:last-child {
    margin-right: 0;
}

.input--date:focus {
    outline: none;
    border: .2rem solid var(--color-very-light-purple);
}
