.faq__item {
  position: relative;
  background-color: var(--color-text);
  color: var(--color-black);
  font-weight: 700;
  font-size: 2.4rem;
  padding: 2.9rem 7rem 3rem;
  cursor: pointer;
}

.faq__item:nth-of-type(2n) {
  background-color: var(--color-very-dark-purple);
  color: var(--color-text);
}

.faq__item:after {
  position: absolute;
  content: '';
  width: 4.6rem;
  height: 4.6rem;
  background: url("../img/open-purple.svg") no-repeat center/contain;
  right: 7rem;
  top: 2rem;
  transition: background-image .2s ease-in;
}

.faq__item:nth-of-type(2n):after {
  background: url("../img/open.svg") no-repeat center/contain;
}

.faq__item:hover:nth-of-type(2n):after {
  background: url("../img/open-hover.svg") no-repeat center/cover;
}

.faq__item:hover:after {
  background: url("../img/open-purple-hover.svg") no-repeat center/cover;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .faq__item {
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 2.3rem 7rem 2.3rem 2.5rem;
  }

  .faq__item:nth-of-type(2n) {
    background-color: var(--color-text);
    color: var(--color-black);
  }

  .faq__item::after {
    right: 2rem;
    top: 1.2rem;
  }

  .faq__item:nth-of-type(2n):after {
    background: url("../img/open-purple.svg") no-repeat center/contain;
  }

  .faq__item:last-child {
    display: none;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .faq__item {
    font-size: 3.6rem;
    line-height: 4.8rem;
    padding: 4.6rem 7rem 4.6rem 10.8rem;
  }

  .faq__item::after {
    width: 9.2rem;
    height: 9.2rem;
    right: 13rem;
    top: 2.3rem;
  }

  .faq__item:nth-of-type(2n) {
    background-color: var(--color-text);
    color: var(--color-black);
  }

  .faq__item:nth-of-type(2n):after {
    background: url("../img/open-purple.svg") no-repeat center/contain;
  }

  .faq__item:last-child {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .faq__item {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 1.4rem 7rem 1.4rem 2rem;
    min-height: 9.2rem;
  }

  .faq__item:nth-of-type(2n) {
    background-color: var(--color-text);
    color: var(--color-black);
  }

  .faq__item:nth-of-type(2n):after {
    background: url("../img/open-purple.svg") no-repeat center/contain;
  }

  .faq__item::after {
    width: 6rem;
    height: 6rem;
    right: 2.6rem;
    top: 1.3rem;
  }

  .faq__item:last-child {
    display: none;
  }
}
