@import "__title/__title.css";
@import "__wrap/__wrap.css";
@import "__img/__img.css";
@import "__text/__text.css";
@import "__content/__content.css";
@import "__inner/__inner.css";

.about {
  padding: 10.2rem 0 5rem;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .about {
    padding: 7.2rem 0 3.5rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .about {
    padding: 12.2rem 0 6rem;
  }
}

@media (max-width: 47.9375em) {
  .about {
    padding: 6rem 0 3rem;
  }
}
