.blockquote__text:first-child {
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5rem;
  text-transform: uppercase;
}

.blockquote__text span {
  display: block;
}

.blockquote__text:before {
  position: absolute;
  content: url("../img/quot.svg");
  top: -1.5rem;
  left: 0;
}

.blockquote__text:after {
  content: url("../img/quot.svg");
  display: inline-block;
  transform: rotate(180deg);
  top: 0;
  left: 0;
  margin-left: 1.5rem;
}
