.label--halls {
  justify-content: center;
  width: 250px;
  padding: 5px 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  background-color: var(--color-text);
  border: 3px solid transparent;
  transition: background-color .2s ease-in, color .2s ease-in, border .2s ease-in;
}

.label--halls:hover {
  background-color: var(--color-platinum);
  border: 3px solid var(--color-dark-purple);
  border-radius: 8px;
}

.input:focus + .label--halls:focus {
  background-color: var(--color-text);
  border: 3px solid var(--color-dark-purple);
  color: var(--color-purple);
}

.input:checked + .label--halls {
  background-color: var(--color-purple);
  border: 3px solid var(--color-text);
  color: var(--color-text);
}
