@import "__wrap/__wrap.css";
@import "__copyright/__copyright.css";
@import "__text/__text.css";
@import "__author/__author.css";
@import "__link/__link.css";

.footer {
  background: linear-gradient(180deg, var(--color-background) 0%, #370A37 100%);
  padding-bottom: 2.1rem;
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .footer {
    padding-bottom: 3.6rem;
  }
}

@media (max-width: 47.9375em) {
  .footer {
    padding-bottom: 4.8rem;
  }
}
