.booking__label--console::before {
  display: inline-block;
  content: "";
  width: 27px;
  height: 27px;
  background-color: #FFFFFF;
  border-radius: 27px;
  cursor: pointer;
  margin-right: 12px;
}

.booking__input--radio:checked + .booking__label--console::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-58%, -52%);
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background-color: #440F51;
  cursor: pointer;
}
