@import "__title/__title.css";
@import "__list/__list.css";
@import "__item/__item.css";
@import "__item/--80s-vibes/--80s-vibes.css";
@import "__item/--star-wars/--star-wars.css";
@import "__item/--wild-west/--wild-west.css";
@import "__item/--neon-style/--neon-style.css";
@import "__text/__text.css";

.halls {
  padding: 5rem 0 10rem;
}

@media (min-width: 64em) and (max-width: 89.9375em) {
  .halls {
    padding: 5.5rem 0 7.2rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .halls {
    padding: 6rem 0 13rem;
  }
}

@media (max-width: 47.9375em) {
  .halls {
    padding: 3rem 0 6.5rem;
  }
}
