.banner__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner__wrap::before {
  position: absolute;
  content: url("../img/header-bg.png");
  right: 0;
  bottom: -5px;
}
