.button-form {
  width: 300px;
  background: var(--color-text);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-purple);
  padding: 16px 50px;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.button-form:hover {
  background-color: black;
  color: var(--color-text);
}
