.button-call-me {
  border: 3px solid var(--color-very-light-purple);
  padding: 12px 29px 9px;
  transition: background-color .2s ease-in, border .2s ease-in;
}

.button-call-me:hover {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}

.button-call-me:active {
  background-color: var(--color-dark-purple);
  border-color: var(--color-dark-purple);
}

.button-call-me:focus {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
