.button-book-banner {
  padding: 24px 69px 24px;
  background-color: #6C0287;
  border-radius: 10px;
  transition: background-color .2s ease-in;
  margin-bottom: 155px;
  font-size: 26px;
}

.button-book-banner:hover {
  background-color: #840AA3;
}

.button-book-banner:active {
  background-color: #640AA3;
}

.button-book-banner:focus {
  background-color: #840AA3;
}
