.button-book-banner {
  padding: 24px 69px 24px;
  background-color: var(--color-purple);
  border-radius: 10px;
  transition: background-color .2s ease-in;
  margin-bottom: 155px;
  font-size: 26px;
}

.button-book-banner:hover {
  background-color: var(--color-light-purple);
}

.button-book-banner:active {
  background-color: var(--color-dark-purple);
}

.button-book-banner:focus {
  background-color: var(--color-light-purple);
}
